body{font-family:'Roboto Condensed';background-color:#f8f8f8;font-size:12px;}
.btn-verde{color:#fff;background-color:#44BC74;border-color:#33B065}.btn-verde.active,.btn-verde:active,.btn-verde:focus,.btn-verde:hover,.open .dropdown-toggle.btn-verde{color:#fff;background-color:#40855B;border-color:#33B065}.btn-verde.active,.btn-verde:active,.open .dropdown-toggle.btn-verde{background-image:none}.btn-verde.disabled,.btn-verde.disabled.active,.btn-verde.disabled:active,.btn-verde.disabled:focus,.btn-verde.disabled:hover,.btn-verde[disabled],.btn-verde[disabled].active,.btn-verde[disabled]:active,.btn-verde[disabled]:focus,.btn-verde[disabled]:hover,fieldset[disabled] .btn-verde,fieldset[disabled] .btn-verde.active,fieldset[disabled] .btn-verde:active,fieldset[disabled] .btn-verde:focus,fieldset[disabled] .btn-verde:hover{background-color:#44BC74;border-color:#33B065}.btn-verde .badge{color:#44BC74;background-color:#fff}
.pagina{position:relative;top:-60px;}
.topo{min-height:100px;padding-top:30px;padding-left:30px;padding-right:5px;padding-bottom:15px;background-color:#fff;border:1px solid #e3e3e3;}
.topo h1{margin:0;background-image:url('img/logotipo.png');background-repeat:no-repeat;}
.topo h1 a{display:block;width:205px;height:63px;text-indent:-9999em;}
.topo .redes-sociais{float:right;margin-right:20px;}
.topo .redes-sociais li{display:inline-block;width:25px;height:23px;border:2px solid #e8ebee;background:#e8ebee;border-radius:5px;text-align:center;}
.topo .redes-sociais li.facebook{background-position:0 0;}
.topo .redes-sociais li.facebook:hover{background-position:0 -20px;}
.topo .redes-sociais li.twitter{background-position:-23px 0;}
.topo .redes-sociais li.twitter:hover{background-position:-23px -20px;}
.topo .redes-sociais li a{display:block;line-height:20px;font-size:18px;color:#656870;}
.topo .menu-principal{clear:both;margin:0 20px;border-radius:5px;background:#c2c4c3;font-size:1.3em;font-weight:300;}
.topo .menu-principal ul{padding:10px 0;text-align:center;}
.topo .menu-principal ul li{display:inline-block;padding:0 10px;border-right:1px solid #6e6e6e;color:#6e6e6e;}
.topo .menu-principal ul li:last-child{border:0;}
.topo .menu-principal ul li#area-cliente a img{width: 100%;max-width: 21px;vertical-align: top;}
.topo .menu-principal ul li a:link,
.topo .menu-principal ul li a:visited,
.topo .menu-principal ul li a:active{color:#6e6e6e;}
.topo .menu-principal ul li a:hover,
.topo .menu-principal ul li a.link-ativo{text-decoration:underline;font-weight:400;color:#026a2f;}
.page-template-pagina-inicial #menu-inicio a,
.post-type-archive-planos #menu-planos a,
.page-template-estrutura #menu-estrutura a,
.post-type-archive-vantagens #menu-vantagens a,
.page-template-localizacao #menu-localizacao a,
.blog #menu-dicas a,
.page-template-contato #menu-contato a,
.page-template-salas #menu-salas a{text-decoration:none;font-weight:400;color:#026a2f;}
.rodape{margin-top:12px;border-top:8px solid #00913f;background-color:#2d2d2d;color:#fff;}
.rodape .rod-1{position:relative;padding:5px;}
.rodape .rod-1 .rua{min-height:50px;height:auto;background:rgba(0,0,0,0.7);position:absolute;bottom:5px;left:0px;width:100%;padding:5px 20px;}
.rodape .rod-1 i{font-size:40px;color:#fff;display:inline-block;margin-right:20px;}
.rodape .rod-1 span{font-size:24px;color:#00913f;}
.rodape .rod-1 .detalhe-mapa{position:absolute;top:0;right:0;}
.rodape .rod-2{position:relative;padding:20px;}
.rodape .informacoes-contato{padding-top:60px;bottom:10px;font-size:1.2em;font-weight:300;}
.rodape .informacoes-contato div{display:inline-block;}
.rodape .informacoes-contato span{display:block;}
.copyright{padding:15px;background-color:#00913f;font-size:1.4em;}
.copyright small{font-weight:300;color:#fff;}
.pg-inicial{}
.pg-inicial .carrossel{border-bottom:25px solid #cdcdcd;}
.pg-inicial .carrossel-item{position:relative;height:500px;background:url(img/bg_carrossel.jpg);background-size:cover!important;background-position:center !important;overflow:hidden;}
.pg-inicial .carrossel-item .carrossel-titulo{position:absolute;bottom:80px;width:602px;margin:0;padding:10px;background:url('img/bg_carrossel-chamada.png') no-repeat;background-position:0px 0;}
.pg-inicial .carrossel-item .carrossel-titulo h3{width:80%;margin:0;font-size:2.2em;font-weight:300;line-height:1em;letter-spacing:-1px;color:#fff;}
.pg-inicial .carrossel-item img.img1{position:absolute;top:50px;}
.pg-inicial .carrossel-item img.img2{float:right;}
.pg-inicial .carrossel-indicadores{z-index:2;position:absolute;bottom:35px;}
.pg-inicial .carrossel-indicadores li{width:15px;height:15px;margin:1px;background-color:#e4e5df;border-radius:50px;text-indent:-9999em;cursor:pointer;}
.pg-inicial .carrossel-indicadores li.ativo,
.pg-inicial .carrossel-indicadores li:hover{background-color:#00a648;}
.pg-inicial .servicos-tipos{min-height:150px;background-color:#e4e5df;-webkit-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:0px 0px 5px 0px rgba(50, 50, 50, 0.75);}
.pg-inicial .servicos-tipos .servico-tipo{padding:10px;text-align:center;}
.pg-inicial .servicos-tipos .servico-tipo img{margin:5px 0;width:194px;height:194px;}
.pg-inicial .servicos-tipos .servico-tipo .btn-aba{border-radius:5px;border:1px solid #bfc0bb;background-color:#d7d7d7;text-align:center;cursor:pointer;}
.pg-inicial .servicos-tipos .servico-tipo .btn-aba:hover,
.pg-inicial .servicos-tipos .servico-tipo .btn-aba.ativa{border:1px solid #fff;background-color:#00a648;color:#fff;}
.pg-inicial .servicos-tipos .servico-tipo .btn-aba h2{margin:0;padding:10px 5px;font-size:1.4em;font-weight:300;}
.pg-inicial .servicos-descricao{padding:20px 10px;background-color:#232627;color:#fff;}
.pg-inicial .servicos-descricao .servico-descricao img{width:100px;}
.pg-inicial .servicos-descricao .servico-descricao p{padding:10px;margin:0;font-size:1.7em;font-weight:300;}
.pg-inicial .servico-descricao b{font-size:3.6em;font-weight:400;letter-spacing:-2px;color:#00a648;}
.pg-inicial .servico-descricao b span{font-size:0.5em;font-weight:300;color:#fff;}
.pg-inicial .servico-descricao a:link,
.pg-inicial .servico-descricao a:visited,
.pg-inicial .servico-descricao a:hover,
.pg-inicial .servico-descricao a:active{display:block;border-radius:5px;border:1px solid #fff;font-size:1.7em;font-weight:300;color:#fff;}
.pg-inicial .servicos-descricao .servico-descricao a:hover{border:1px solid #00a648;color:#fff;}
.pg-inicial .estrutura-visita{padding:20px 0;}
.pg-inicial .formulario-visita{padding-top:20px;}
.pg-inicial .formulario-visita p{padding:0 10px;font-size:2.5em;font-weight:300;}
.pg-inicial .formulario-visita p span{font-weight:400;}
.pg-inicial .contato-formas .contato-email{display:block;color:#009f45;font-size:1.8em;padding-left:10px;}
.pg-inicial .contato-formas .contato-telefone{display:block;font-size:1.5em;padding-left:10px;}
.pg-inicial .contato-formas span:nth-child(5){margin-top: 20px;} 
.pg-inicial .formulario-visita .formulario{margin:10px;padding:20px;border-radius:5px;border:1px solid #c2c2c2;background-color:#e4e5df;}
.pg-inicial .formulario-visita label{padding:5px;font-size:1.3em;font-weight:normal;color:#00a748;}
.pg-inicial .formulario-visita input,
.pg-inicial .formulario-visita select{display:inline-block;width:100%;padding:5px;border-radius:5px;border:1px solid #c2c2c2;color:gray;}
.pg-inicial .depoimentos{}
.pg-inicial .depoimentos header{padding:5px 0;font-size:2.5em;font-weight:300;text-align:center;letter-spacing:-1px;color:#6c6c6c;}
.pg-inicial .depoimentos .depoimento{padding:5px 10px;}
.pg-inicial .depoimentos .depoimento .depoimento-conteudo{padding:10px;border:2px dashed #dedfe0;}
.pg-inicial .depoimentos .depoimento .depoimento-conteudo figure{float:left;width:169px;height:175px;margin:0 20px;background:url('img/bg_depoimento-foto.png');}
.pg-inicial .depoimentos .depoimento .depoimento-conteudo p{font-size:1.3em;}
.pg-inicial .depoimentos .depoimento .depoimento-conteudo b{font-size:1.2em;font-weight:700;}
.pg-inicial .depoimentos .depoimento .depoimento-conteudo b span{font-weight:400;}
.pg-inicial .enderecos-comercial{}
.pg-inicial .enderecos-comercial header{padding:5px 0;font-size:2.5em;font-weight:300;text-align:center;letter-spacing:-1px;color:#6c6c6c;}
.pg-inicial .enderecos-comercial .enderecos{padding:5px 10px 30px;}
.pg-inicial .enderecos-comercial .enderecos .imagem-endereco{height:250px;width:745px;display:block;margin:0 auto;background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important;border:1px solid #fff;display:table-cell;vertical-align:top;position:relative;}
.pg-inicial .enderecos-comercial .enderecos .imagem-endereco .nome-endereco{height:70px;width:100%;display:block;margin:0 auto;background:transparent;position:relative;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;box-shadow:0px 4px 0px #00913f inset;}
.pg-inicial .enderecos-comercial .enderecos .imagem-endereco:hover .nome-endereco{box-shadow:0px 70px 0px rgba(0, 145, 63, 0.8) inset;}
.pg-inicial .enderecos-comercial .enderecos .imagem-endereco h2{margin:0;padding:7px;color:#00913f;font-weight:700;font-size:18px;text-transform:uppercase;background:#fff;position:absolute;bottom:34px;left:2.7px;width:99.1%;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;}
.pg-inicial .enderecos-comercial .enderecos .imagem-endereco:hover h2{bottom:2px;}
.pg-inicial .divulgacoes{height:324px;margin:30px 0;margin-bottom:0;}
.pg-inicial .divulgacoes .divulgacao{width:100%;height:inherit;background:url('img/bg_divulgacoes.jpg');background-size:cover;}
.pg-inicial .divulgacoes .divulgacao .mensagem{position:relative;top:35%;width:60%;margin:auto;padding:20px;background:rgba(0,0,0,.2);border:5px solid #fff;font-size:2em;font-weight:300;text-align:center;color:#fff;}
.pg-inicial .divulgacoes .divulgacao .mensagem p{margin:0;}
.pg-inicial .divulgacoes .divulgacao .mensagem strong{font-weight:400;}
.pg-inicial .noticias{padding:1px 0;border:1px solid #e4e5df;}
.pg-inicial .ultimas-noticias{padding:20px;background-color:#e4e5df;}
.pg-inicial .ultimas-noticias header{padding-bottom:5px;margin-bottom:5px;border-bottom:1px solid #dadada;font-size:1.4em;font-weight:300;color:#6c6c6c;}
.pg-inicial .ultimas-noticias ul{text-align:center;}
.pg-inicial .ultimas-noticias ul li{display:inline-block;width:120px;padding:10px;text-align:center;}
.pg-inicial .ultimas-noticias ul li span{display:block;font-size:1.5em;font-weight:300;}
.pg-inicial .ultimas-noticias ul li img{display:block;width:100px;height:70px;margin:auto;border:1px solid #00a748;}
.pg-inicial .ultimas-noticias ul li a:link,
.pg-inicial .ultimas-noticias ul li a:visited,
.pg-inicial .ultimas-noticias ul li a:hover,
.pg-inicial .ultimas-noticias ul li a:active{color:#373b3d;font-size:14px;}
.internas{}
.internas h3{font-size:2.8em;font-weight:300;letter-spacing:-1px;color:#241f20;}
.interna-conteudo{padding:20px;border-radius:5px;background-color:#efefef;}
.pagina-descricao{padding:15px 0;margin:10px 0;font-size:1.8em;font-weight:300;}
.pagina-descricao b{font-weight:400;}
.btn-faleconosco,
.btn-faleconosco,
.btn-faleconosco,
.btn-faleconosco{display:block;width:50%;margin:auto;padding:20px;border-radius:5px;border:1px solid #2b2e2c;background:rgba(255,255,255,.5);font-size:1.5em;font-weight:300;color:#2b2e2c;}
.btn-faleconosco a:link,
.btn-faleconosco a:visited,
.btn-faleconosco a:hover,
.btn-faleconosco a:active{font-weight:400;color:#2b2d2c;text-decoration:underline;}
.pg-planos{}
.pg-planos .plano{margin:20px 0;padding:50px 25px;border-radius:3px;background-color:#00a648;color:#fff;}
.pg-planos .plano-icone{text-align:center;}
.pg-planos .plano-vantagens{}
.pg-planos .plano-vantagens h2{font-size:2.7em;font-weight:300;letter-spacing:-1px;}
.pg-planos .plano-vantagens ul{}
.pg-planos .plano-vantagens ul li{font-size:1.6em;font-weight:300;}
.pg-planos .plano-descricao{font-size:1.3em;font-weight:300;text-align:center;}
.pg-planos .plano-descricao b{font-size:3.2em;font-weight:400;letter-spacing:-2px;color:#fff;}
.pg-planos .plano-descricao b span{font-size:0.5em;font-weight:300;color:#fff;}
.pg-planos .plano.plano-b{background-color:#232627;}
.pg-planos .plano-b .plano-vantagens h2,
.pg-planos .plano-b .plano-descricao b{margin-top:0;color:#008b3c;}
.pg-estrutura{}
.pg-estrutura .unidade{padding:30px 10px;}
.pg-estrutura .interna-conteudo{padding:0;}
.pg-estrutura .box{position:relative;min-height:285px;padding:30px;padding-top:10px;border-radius:5px;border:5px solid #d2e2d9;background-color:#00a648;text-align:center;color:#fff;}
.pg-estrutura h2{font-size:3em;font-weight:300;}
.pg-estrutura b{font-weight:400;}
.pg-estrutura p{font-size:1.7em;font-weight:300;color:#00411c;letter-spacing:-1px;}
.pg-estrutura .box ul{text-align:left;}
.pg-estrutura .box ul li{list-style-type:square;font-size:1.7em;font-weight:300;color:#065327;}
.pg-vantagens{}
.pg-vantagens .vantagem{width:280px;margin:auto;padding:20px;}
.pg-vantagens .vantagem .numero{z-index:1;font-size:10em;line-height:0;color:#00a648;}
.pg-vantagens .vantagem .selo{position:relative;z-index:2;width:200px;height:200px;margin-top:-75px;margin-left:30px;padding:30px 22px;border-radius:100px;border:10px solid #fff;background-color:#232627;text-align:center;color:#00a648;}
.pg-vantagens .vantagem .selo p{font-size:2em;font-weight:300;line-height:1em;}
.pg-vantagens .vantagem .selo p b{font-weight:400;}
.pg-vantagens .vantagem .descricao{padding-top:10px;font-size:1.8em;font-weight:300;line-height:1em;text-align:center;}
.pg-localizacao{}
.pg-localizacao .mapa-localizacao{position:relative;border-radius:1000px;border:10px solid #fff;overflow:hidden;}
.pg-localizacao .endereco{margin:5px 10px;padding:10px;border-radius:5px;background-color:#d6d7d7;font-size:2em;font-weight:400;text-align:left;}
.pg-localizacao .endereco p{margin:0;}
.pg-localizacao .endereco span{display:block;font-weight:300;}
.pg-dicas{}
.pg-dicas .dica{margin:10px;padding:10px;border-radius:4px;background-color:#efefef;font-weight:300;}
.pg-dicas .dica figure{position:relative;height:200px;background-size:cover;border:1px solid #0dab53;}
.pg-dicas .dica figure figcaption{position:absolute;bottom:-50px;right:5px;width:100px;height:100px;padding-top:8px;background-color:#232627;border:5px solid #fff;border-radius:80px;text-align:center;font-size:2em;font-weight:300;}
.pg-dicas .dica figure .dica-data .dia{font-size:1.3em;color:#fff;}
.pg-dicas .dica figure .dica-data .mes{display:block;font-size:0.9em;line-height:12px;color:#00a443;}
.pg-dicas .dica h2{width:80%;color:#646061;}
.pg-dicas .dica p{font-size:1.5em;color:#7c7979;}
.pg-dicas .dica a:link,
.pg-dicas .dica a:visited,
.pg-dicas .dica a:hover,
.pg-dicas .dica a:active{padding:10px 20px;border-radius:5px;border:1px solid #232627;text-transform:uppercase;text-align:center;font-size:1.3em;font-weight:400;color:#232627;}
.pg-contato{}
.pg-contato .contato-formas{margin:5px 10px;padding:10px;border-radius:5px;background-color:#d6d7d7;font-size:2em;font-weight:400;text-align:left;}
.pg-contato .contato-formas p{margin:0;}
.pg-contato .contato-formas .contato-email{display:block;color:#009f45;}
.pg-contato .contato-formas .contato-telefone{display:block;}
.pg-contato .contato-formas span:nth-child(5){margin-top: 20px;}
.pg-contato .formulario-contato{padding:20px;border-radius:10px;border:5px solid #d6d7d7;background-color:#fff;}
.pg-contato .formulario-contato span{font-size:1.8em;font-weight:300;color:#009f45;}
.pg-contato .formulario-contato input,
.pg-contato .formulario-contato select,
.pg-contato .formulario-contato textarea{width:100%;margin:2px 0;padding:10px;border-radius:3px;border:1px solid #b5b5b5;font-size:1.5em;font-weight:300;}
.pg-contato .formulario-contato select{color:#aeabab;}
.pg-contato .formulario-contato button{text-transform:uppercase;}
.clear{clear:both;}
label.alinhado{float:left;}
label.naoalinhado{clear:both;display:block;}
.slicknav_menu{display:none;}
@media screen and (max-width:991px){.pg-estrutura .unidade img{display:block;margin:0 auto;}
.slicknav_menu{display:block;background:#4c4c4c url(img/logotipo_branco.png) top left no-repeat !important;}
.slicknav_btn{}
}
.rwd-table{width:100%;min-width:300px;margin:1em 0;}
.rwd-table tr{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.rwd-table th{font-size:19px;display:none;}
.rwd-table td{font-size:17px;display:block;}
.rwd-table td a{outline:0;}
.rwd-table td img{display:block;margin:0 auto;}
.rwd-table td span{font-size:13px;display:block;}
.rwd-table td:first-child{padding-top:.5em;}
.rwd-table td:last-child{padding-bottom:.5em;}
.rwd-table td:before{font-weight:bold;display:inline-block;width:6.5em;content:attr(data-th) ': ';}
@media (min-width:480px){.rwd-table td:before{display:none;}
}
.rwd-table th,
.rwd-table td{text-align:left;}
@media (min-width:480px){.rwd-table th,
.rwd-table td{display:table-cell;padding:.25em .5em;}
.rwd-table th:first-child,
.rwd-table td:first-child{padding-left:0;}
.rwd-table th:last-child,
.rwd-table td:last-child{padding-right:0;}
}
.rwd-table{overflow:hidden;color:#fff;border-radius:.4em;background:#2d2d2d;}
.rwd-table tr{border-color:#00913f;}
.rwd-table th,
.rwd-table td{margin:.5em 1em;}
@media (min-width:480px){.rwd-table th,
.rwd-table td{padding:1em !important;}
}
.rwd-table th,
.rwd-table td:before{color:#00913f;}
.pg-salas .interna-conteudo p{font-size:14px;}
.pg-localizacao .enderecos-comercial{}
.pg-localizacao .enderecos-comercial header{padding:5px 0;font-size:2.5em;font-weight:300;text-align:center;letter-spacing:-1px;color:#6c6c6c;}
.pg-localizacao .enderecos-comercial .enderecos{padding:5px 10px 30px;}
.pg-localizacao .enderecos-comercial .enderecos span{display:block;text-align:center;color:#6c6c6c;text-decoration:none;font-size:15px;padding-top:10px;}
.pg-localizacao .enderecos-comercial .enderecos h2{color:#6c6c6c;text-align:center;margin:0 0 20px;padding:0;}
.pg-localizacao .enderecos-comercial .enderecos .imagem-endereco{height:250px;width:745px;display:block;margin:0 auto;background-size:cover !important;background-position:center !important;background-repeat:no-repeat !important;border:1px solid #fff;display:table-cell;vertical-align:top;position:relative;}
.pg-localizacao .enderecos-comercial .enderecos .imagem-endereco .nome-endereco{height:70px;width:100%;display:block;margin:0 auto;background:transparent;position:relative;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;box-shadow:0px 4px 0px #00913f inset;}
.pg-localizacao .enderecos-comercial .enderecos .imagem-endereco:hover .nome-endereco{box-shadow:0px 70px 0px rgba(0, 145, 63, 0.8) inset;}
.pg-localizacao .enderecos-comercial .enderecos .imagem-endereco p{margin:0;padding:7px;color:#00913f;font-weight:700;font-size:18px;text-transform:uppercase;background:#fff;position:absolute;bottom:28px;left:2.7px;width:99.1%;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;}
.pg-localizacao .enderecos-comercial .enderecos .imagem-endereco:hover p{bottom:2px;}
@media (max-width:768px){.pg-inicial .carrossel-item{height:330px;}
}
@media (max-width:400px){.pg-inicial .carrossel-item{height:210px;}
}

.post-type-archive .rodape{
	display: none;
}
.home .rodape{
	display: none;
}
.page-template-salas .rodape{
	display: none;
}
.page-template-estrutura .rodape{
	display: none;
}
.blog .rodape{
	display: none;
}
.single-post .rodape{
	display: none;
}
.page-template-templatescontato-php .rodape{
	display: none;
}
/* .page-template-localizacao .enderecosRodape{
	display: none;
} */
.enderecosRodape .col-md-6{
text-align: center!important;
}
.page-template-localizacao .rodape{
	display: none;
}
.pg-localizacao {
    min-height: 777px;
}
.descricaoMobile{
	display: none;
}
@media(max-width: 991px){
	.descricaoMobile{
		display: block;
	}	
	.descricaoDesktop{
		display: none;
	}
	.pg-inicial .servicos-tipos .servico-tipo .btn-aba:hover, .pg-inicial .servicos-tipos .servico-tipo .btn-aba{
		border: 1px solid #fff;
		background-color: #00a648;
		color: #fff;
	}
	.slicknav_nav li img {
		width: 100%;
		max-width: 40px;
	}
}